.phone-listing.ng-enter,
.phone-listing.ng-leave,
.phone-listing.ng-move{
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.phone-listing.ng-enter,
.phone-listing.ng-move{
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.phone-listing.ng-move.ng-move-active,
.phone-listing.ng-enter.ng-enter-active{
	opacity: 1;
	height: 120px;
}

.phone-listing.ng-leave{
	opacity: 1;
	overflow: hidden;
}

.phone-listing.ng-leave.ng-leave-active{
	opacity: 0;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.splashes.enter{
		height: 4px;
	}
.custom-list{
	background: #444444;color:white;
}
.custom-list-divider{
	background: orange;
}

