<!-- haha -->

<!DOCTYPE html>
<html ng-app="main">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	

    <script src="lib/ionic/js/ionic.bundle.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
	<script scr="lib/ng-message/angular-messages.min.js"></script>

	<link href="lib/metro/css/metro-bootstrap.css" rel="stylesheet"/>
	<link href="lib/metro/css/metro-bootstrap-responsive.css" rel="stylesheet"/>
	
	<style>
		.curve{
			-webkit-border-bottom-left-radius: 900px 90px;
			-webkit-border-bottom-right-radius: 900px 90px;
		}
		
		.fcmb-pantone-c-bg{
			background-color: rgb(255, 114, 14);
		}
		
		.spinner svg {
		  width: 28px;
		  height: 28px;
		  stroke: #444;
		  fill: #444;
		}
	</style>
  </head>
  <body>
	<ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon ion-ios-arrow-thin-right">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right">
	</ion-nav-view>
	
	<script src="lib/cordova/ng-cordova.min.js"></script>
	<script src="cordova.js"></script>
	<script src="telephonenumber.js"></script>
	<script src="js/app.js"></script>
	<script src="js/service.js"></script>
	<script src="js/controller.js"></script>
	<script src="PushNotification.js"></script>


	<script id="my-modal.html" type="text/ng-template">
	  <ion-modal-view>
	    <ion-header-bar style="background-color: #5E75AF" class="bar-calm">
	      <h1 class="title">{{question}}</h1>
	    </ion-header-bar>
	    <ion-content style="font-size: 15px;padding: 10px;text-align:justify;padding-top: 12px;">
	      {{answer}}
	    </ion-content>
	    <div class="bar bar-footer bar-calm" style="background-color: #5E75AF;color:white;">
		   <button ng-click="closeModal()" class="button button-icon icon ion-ios-checkmark-outline"></button>
		  <button ng-click="closeModal()" class="button button-icon ion-ios-close-outline"></button>
		</div>
	  </ion-modal-view>
	</script>
  </body>
</html>
