<ion-view title="Account Funding">
	<ion-content has-bouncing="true">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Recharge Code</span>
		    <input type="text" placeholder="Recharge Code" ng-model="FmcFunding.RechargeCode">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Secret Code</span>
		    <input type="password" placeholder="Secret Code" ng-model="FmcFunding.SecretCode">
		  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background:#5E75AF;border: 1px solid #5E75AF;"  data-ng-click="funding()">Send</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>