<ion-view title="{{airtimeselected | uppercase}}">
	<ion-content has-header="false" has-bouncing="true">
		<div class="list">
		 	<label class="item item-input item-select">
			    <div class="input-label">
			      Amount
			    </div>
			    <select>
			      <option ng-repeat = "amount in amountAirtime" ng-model="fmcAirtimeRechargeApiDatas.Amount" value=amount.amount> {{amount.amount}}</option>
			    </select>
			  </label>
			   <label class="item item-input">
			    <input type="tel" placeholder="Recipient Phone Number">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Secret Code">
			  </label>
		 </div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background:#5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">Buy</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>