<ion-view title="AIRTIME SELECT">
		  <label class="bar bar-subheader item item-input">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="search"></input>
		  </label>
	<ion-content has-header="false" has-bouncing="true" style="font-family: Tahoma;margin-top: 40px;">
	<div style="text-align:center;margin-top:13px;margin-bottom: 13px;" ng-if="airtimes_loader"><ion-spinner class="spinner-energized" icon="android" style="text-align:center;"></div>
		<div class="list">
			<a class="item" ng-repeat="airtime in airtimes|filter:search" ng-click="UrlNavigator('/menu/airtime/' + airtime.MobileNetworkName)">
				{{airtime.MobileNetworkName | uppercase}}
			</a>
		</div>
	</ion-content>
</ion-view>