<ion-view title="Register">
	<ion-content>
		<div class="list">
		  <div class="item item" style="color: #FFC222">
			3: Authenticate
		  </div>
		 <div class="item item-divider" style="padding-top: 25px;">
			ACCOUNT NUMBER
		  </div>
			  <label class="item item-input">
				<input type="input" placeholder="Account Number" style="font-size: 16px" ng-model='AuthenRegistration.Para1'>
			  </label>
			   <div class="item item-divider" style="padding-top: 25px;">
			TOKEN
		  </div>
			  <label class="item item-input">
				<input type="password" placeholder="Token" style="font-size: 16px" ng-model='AuthenRegistration.Para2'>
			  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90" style="text-align:center;"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF" ng-click="OAuthenReg(3)">Submit</button>
					<p style="font-size: 11px;">Your registration code will be sent to your registered mobile number</p>
				</div>
				<div class="col"></div>
				
		</div>
	</ion-content>
</ion-view>