<ion-view title="Forgot Banking ID">
	<ion-content>
		<div class="list">
		  <div class="item item-divider" style="padding-top: 50px;">
			ENTER YOUR USER DETAILS
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="Account Number" style="font-size: 16px">
			  </label>
			  <label class="item item-input">
				<input type="text" placeholder="Card Number" style="font-size: 16px">
			  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #FFC222;border: 1px solid #FFC222;">Continue</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>