i<ion-view title="{{bankselected}}">
	<ion-content has-header="false" has-bouncing="true">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">{{bankselected}} Account Number</span>
		    <input type="text" placeholder="Account Number" ng-model="fundTransfer.Para2">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Enter Amount</span>
		    <input type="number" placeholder="20000" ng-model="fundTransfer.Para3">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">SECRET CODE</span>
		    <input type="password" placeholder="Secret Code" ng-model="fundTransfer.Para4">
		  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background:#5E75AF;border: 1px solid #5E75AF;"  data-ng-click="OFundTransfer(3)">Send</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>