<ion-view title="FMC TO OTHER BANKS">
	
		  <label class="bar bar-subheader item item-input">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="search"></input>
		  </label>
	<ion-content has-header="false" has-bouncing="true" style="font-family: Tahoma;margin-top: 40px;">
		<div class="list">
			<a class="item" ng-repeat="bank in banks|filter:search" ng-click="UrlNavigator('/menu/bank-selected/' + bank.BankName)">
				{{bank.BankName |uppercase}}
			</a>
		</div>
	</ion-content>
</ion-view>