<ion-view title="BILLS PAYMENT">
		  <label class="bar bar-subheader item item-input">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="search"></input>
		  </label>
	<ion-content has-header="false" has-bouncing="true" style="font-family: Tahoma;margin-top: 40px;">
		<div class="list">
			<div style="text-align:center;margin-top:13px;margin-bottom: 13px;" ng-if="bills_payment_loader"><ion-spinner class="spinner-energized" icon="android" style="text-align:center;"></ion-spinner></div>
			<a class="item" ng-repeat="bill in bills|filter:search" ng-click="UrlNavigator('/menu/bill/' + bill.MerchantId )">
				{{bill.MerchantName | uppercase}}
			</a>
		</div>
	</ion-content>
</ion-view>