<ion-view title="{{billselected | uppercase}}">
	<ion-content has-header="false" has-bouncing="true">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">{{billselected | uppercase}} ACCOUNT NUMBER</span>
		    <input type="text" placeholder="Account Number">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Enter Amount</span>
		    <input type="number" placeholder="20000">
		  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background:#5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">Activate</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>