<ion-view title="BONQUET">
	<ion-content has-header="false" has-bouncing="true" style="font-family: Tahoma;">
		<div class="list">
			<div style="text-align:center;margin-top:13px;margin-bottom: 13px;" ng-if="bouquets_loader"><ion-spinner class="spinner-energized" icon="android" style="text-align:center;"></ion-spinner></div>
			<a class="item item-icon-right" ng-repeat="bouquet in bouquets|filter:search" ng-click="UrlNavigator('/menu/payment-choice/' + bouquet.BillableItemName + ' - (&#8358 ' + bouquet.BillAmount + ')' + '/' + vendor + '/' + bouquet.BillableItemId + '/' + bouquet.BillAmount)">
				{{bouquet.BillableItemName | uppercase}}
				<i class="icon" style="font-size: 15px;">&#8358 {{bouquet.BillAmount | number}}</i>
			</a>
		</div>
	</ion-content>
</ion-view>