<ion-view title="Branches">
	<ion-content>
		    <div id="map" style="height: 300px;"></div>
		    	<div class="list" style="text-align:center;font-size:18px;" ng-init='map.display=true' ng-if="map.display">
						<ion-spinner class="spinner-energized" icon="android"></ion-spinner>
					</div>
		         <ion-scroll zooming="false" direction="y">
			        <div class="list">
					  <a class="item item-icon-left" href="#" ng-repeat="marker in markers | orderBy : 'title'" ng-click="openInfoWindow($event, marker)">
						<i class="icon ion-ios-location-outline"></i>
						{{marker.title}}
					  </a>
					</div>
 			</ion-scroll>
	</ion-content>
</ion-view>