<ion-view title="Register">
	<ion-content>
		<div class="list">
		  <div class="item item" style="color: #FFC222">
			1: Authenticate
		  </div>
		  <div class="item item-divider" style="padding-top: 25px;">
			CARD NUMBER
		  </div>
			  <label class="item item-input">
				<input type="number" placeholder="Card Number" style="font-size: 16px" ng-model='AuthenRegistration.Para1'>
			  </label>
		 <div class="item item-divider" style="padding-top: 25px;">
			ACCOUNT NUMBER
		  </div>
			  <label class="item item-input">
				<input type="number" placeholder="Account Number" style="font-size: 16px" ng-model='AuthenRegistration.Para2'>
			  </label>
		
		<!--div class="item item-divider" style="padding-top: 25px;">
			SECRET QUESTIONS
		  </div>
				<select type="text" placeholder="" style="font-size: 16px;width:100%;border: 0px; padding-top:10px;padding-bottom:0px;" ng-model='regDetails.secret_questions'>
					<option ng-repeat="question in allQuestions" selected>{{question.question_name}}</option>
				</select>
		</div>
		<div class="item item-divider" style="padding-top: 25px;">
			ANSWER
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="Answer" style="font-size: 16px" ng-model='regDetails.answer'>
			  </label>
		</div-->
	</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90" style="text-align:center;"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;" ng-click="OAuthenReg(1)">Submit</button>
					<p style="font-size: 14px;">Your registration code will be sent to your registered mobile number</p>
				</div>
				<div class="col"></div>
				
		</div>
	</ion-content>
</ion-view>