<ion-view title="Contact Us">
	<ion-content has-bouncing=true>
		<ul class="list">
		    <li class="item">
		      FCMB Bank PLC
		      <p style="font-size: 10px;">
		      	Plot 1261, Adeola Hopewell Street<br>
		      	P.O. Box 70381, Victoria Island, Lagos
		      </p>
		    </li>

		    <li class="item">
		      FCMB Bank PLC (Head Office)
		      <p style="font-size: 10px;">
		      	Plot 1261, Adeola Hopewell Street<br>
		      	P.O. Box 70381, Victoria Island, Lagos
		      </p>
		    </li>

		    <li class="item">
		      Customer Support
		      <p style="font-size: 10px;">
		      	+23480230238902
		      </p>
		    </li>

		    <li class="item">
		      Email
		      <p style="font-size: 10px;">
		      enquiries@fcmbbank.com <br>
		      complaints@fcmbbank.com
		      </p>
		    </li>
		</ul>

	</ion-content>
</ion-view>