<ion-view title="FAQS">
	 <label class="bar bar-subheader item item-input">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="search"></input>
		  </label>
	<ion-content has-header="false" has-bouncing="true" style="font-family: Tahoma;margin-top: 40px;">
		<!--div class="list list-inset">
		  <label class="item item-input">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="search"></input>
		  </label>
		</div-->
		<ul class="list">
			<div style="text-align:center;margin-top:13px;margin-bottom: 13px;" ng-if="faqsLoading"><ion-spinner class="spinner-energized" icon="android" style="text-align:center;"></ion-spinner></div>
			<li class="item" ng-repeat="faq in faqs|filter:search" ng-click="openModalView({{$index + 1}});">
				{{faq.FaqQuestion}}
			</li>
		</ul>
	</ion-content>
</ion-view>