<ion-view title="Register">
	<ion-content>
		<div class="list">
		  <div class="item item" style="color: #FFC222">
			4: FMC Registration
		  </div>
		 <div class="item item-divider" style="padding-top: 25px;">
			FULL NAME
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="First Name" style="font-size: 16px" data-ng-model="fmcRegistration.FirstName">
			  </label>
			  <label class="item item-input">
				<input type="text" placeholder="Last Name" style="font-size: 16px;" data-ng-model="fmcRegistration.LastName">
			  </label>
			
		  <div class="item item-divider" style="padding-top: 16px;">
			ADDRESS
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="ADDRESS" style="font-size: 16px" data-ng-model="fmcRegistration.StreetAddress">
			  </label>
		
		<div class="item item-divider" style="padding-top: 16px;">
			CITY
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="CITY" style="font-size: 16px" data-ng-model="fmcRegistration.CityOfResidence">
			  </label>
		<div class="item item-divider" style="padding-top: 16px;">
			STATE
		  </div>
			  <label class="item  item-select">
			    <div class="input-label">
			      	
			    </div>
			    <select data-ng-model="fmcRegistration.TheStateId">
			      	<option data-ng-repeat="data in statesAll" value={{data.TheStateId}}>{{data.TheStateName}}</option>
			    </select>
			  </label>
	
		<div class="item item-divider" style="padding-top: 16px;">
			EMAIL
		  </div>
			  <label class="item item-input">
				<input type="email" placeholder="EMAIL" style="font-size: 16px" data-ng-model="fmcRegistration.EmailAddress">
			  </label>
		<div class="item item-divider" style="padding-top: 16px;">
			DATE OF BIRTH
		  </div>
			  <label class="item item-input">
				<input type="date" placeholder="DATE OF BIRTH" style="font-size: 16px" data-ng-model="fmcRegistration.DateOfBirth">
			  </label>

		<div class="item item-divider" style="padding-top: 16px;">
			OCCUPATION
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="OCCUPATION" style="font-size: 16px" data-ng-model="fmcRegistration.Occupation">
			  </label>

		<div class="item item-divider" style="padding-top: 16px;">
			SECRET QUESTION
		  </div>
			  <label class="item  item-select">
			    <div class="input-label">
			      	
			    </div>
			    <select data-ng-model="fmcRegistration.QuestionId">
			      	<option data-ng-repeat="data in questionsAll" value={{data.QuestionId}}>{{data.QuestionName}}</option>
			    </select>
			  </label>
			   <label class="item item-input">
				<input type="password" placeholder="Question Answer" style="font-size: 16px;" data-ng-model="fmcRegistration.SecretAnswer">
			  </label>

		<div class="item item-divider" style="padding-top: 16px;">
			PHONE NUMBER
		  </div>
			  <label class="item item-input">
				<input type="tel" placeholder="PHONE NUMBER" style="font-size: 16px" data-ng-model="fmcRegistration.PhoneNumber">
			  </label>
		
		<div class="row">
			<div class="col"></div>
				<div class="col col-90" style="text-align:center;"><button data-ng-click="showFmcDetails()" class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">Submit</button>
					<p style="font-size: 11px;">Your registration code will be sent to your registered mobile number</p>
				</div>
				<div class="col"></div>
				
		</div>
	</ion-content>
</ion-view>