<ion-view title="FMC TO FCMB ACCOUNT NUMBER">
	<ion-content has-header="false" has-bouncing="true">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">FCMB ACCOUNT NUMBER</span>
		    <input type="number" placeholder="Account Number" data-ng-model="fundTransfer.Para2">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">ENTER AMOUNT</span>
		    <input type="number" placeholder="20000" data-ng-model="fundTransfer.Para3">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">SECRET CODE</span>
		    <input type="password" placeholder="Secret Code" ng-model="fundTransfer.Para4">
		  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background:#5E75AF;border: 1px solid #5E75AF;" data-ng-click="OFundTransfer(2)">Send</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>