<ion-view title="Forgot Login">
	<ion-content>
		<div class="list">
		  <a class="item item-icon-left item-icon-right" href="#/menu/bankingid">
			<i class="icon ion-ios-person-outline"></i>
			Forgot Internet Banking ID	
			<i class="icon ion-ios-arrow-thin-right"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right" href="#/menu/password">
			<i class="icon ion-ios-locked-outline"></i>
			Forgot Password
			<i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		</div>
	</ion-content>
</ion-view>