<ion-view title="Fund Transfer">
	<ion-content style="font-family: Tahoma">
		<div class="list">
		  <a class="item item-icon-right" href="#/menu/fmcTofmc">
		   FMC to FMC 
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		  <a class="item item-icon-right" href="#/menu/fmcToAccount">
		   FMC to FCMB Bank Account 
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		  <a class="item item-icon-right" href="#/menu/bank-select">
		   FMC to Other Bank Account
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		  <a class="item item-icon-right" href="#/menu/fmcToPhoneNumber">
		   FMC to Phone Number 
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		</div>
	</ion-content>
</ion-view>