<ion-view title="Register">
	<ion-content>
		<div class="list">
		  <div class="item item" style="color: #FFC222">
			2: Registration Code
		  </div>
		  <div class="item item-divider" style="padding-top: 25px;">
			INTERNET BANKING ID
		  </div>
			  <label class="item item-input">
				<input type="text" placeholoder="Internet Banking Id" style="font-size: 16px" ng-model='AuthenRegistration.Para1'>
			  </label>
		 <div class="item item-divider" style="padding-top: 25px;">
			REGISTRATION CODE
		  </div>
			  <label class="item item-input">
				<input type="text" placeholder="Registration Code" style="font-size: 16px" ng-model='AuthenRegistration.Para2'>
			  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90" style="text-align:center;"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;"  ng-click="OAuthenReg(2)">Submit</button>
				</div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>