		<ion-view has-header="false" title="" style="background:#444444; border: #444444 0px;background: url('img/tweed.png') repeat;" hide-nav-bar="true">
			<ion-content style="background: #FFFFFF;padding:0px;">
				<div style="padding-top:0px;margin:0px;height: 240px;background: url('img/mobile banner2.jpg');border:#444444;color:white;font-size:24px;background-size:cover;">
						<div class="row">
							<div class="col col-100">
								<div style="float:right;">
									<img src="img/flashmecash-logo.png" style="width: 123px"/><!--logo.jpg-->
								</div>
								<a class="icon ion-navicon" ng-click="toggleLeft()" style="float: left; color:#000000;float:left;width:30px;border:;height:34px;padding-left: 5px;"></a>
							</div>
						</div>
						<div class="row" style="margin-top:0px !important;padding-top:0px !important;">
						  <div class="col">
							<!--a class="icon ion-navicon" ng-click="toggleLeft()" style="float: left; color:#FFFFFF;"></a-->
						  </div>
						  <div class="col"></div>
						  <div class="col"></div>
						  <div class="col" ></div>
						</div>
						<div class="row row-bottom" style="margin-top:0px !important;padding-top:0px !important;">
						  <div class="col col-80" style="font-size: 16px;color:black;">
							{{m_accountDetails.firstName + ' ' + m_accountDetails.lastName | uppercase}} 
							<p>{{'ACCT NO: ' + m_accountDetails.phone_number}}</p>
						  </div>
						  <div class="col"><div class="badge"style="float:right; border: 1px solid #000000; color:#000000;">1 of 5</div></div>
						</div>
						<div class="row row-bottom" style="margin-top:0px !important;padding-top:25px !important;">
						  <div class="col col-100" style="float:right; text-align: right;font-size: 12px;color:black;">Account Balance<br/>
							<div style="float:right;margin-top: 10px;font-size:30px;">&#8358;{{m_accountDetails.balance | number}}</div>
						  </div>
						</div>
				</div>

				<div class="button-bar bar-light" style="margin-bottom: 40px;">
				  <a class="button" style="border:0px; border-bottom: 2px solid {{firstSlide}};" ng-click="slideTo(0)">History</a>
				  <a class="button" style="border:0px; border-bottom: 2px solid {{secondSlide}};" ng-click="slideTo(1)">Search</a>
				  <a class="button" style="border:0px; border-bottom: 2px solid {{thirdSlide}};" ng-click="slideTo(2)">Range</a>
				</div>
				<ion-slide-box on-slide-changed="swipeSlide($index)" show-pager=false>
				  <ion-slide >
					<div class="box blue" style="height: 500px;">
						<div class="list">
						  <div class="item item-divider">
							10TH DEC., 2014:
						  </div>
							 <a class="item" href="#">
							 635 AKIN ADESOLA<span class="item-note" style="color:green;font-size:19px;">+10,000.00</span>
							 <p>SELF: 3288273827</p>
							</a>
						  <div class="item item-divider">
							9TH DEC., 2014
						  </div>
							 <a class="item" href="#">
							 205/21933232/60<span class="item-note" style="color:red;font-size:19px;">-600.00</span>
							 <p>MBANKING - Own Account Transfer from</p>
							</a>
							 <a class="item" href="#">
							 OLAJIDE, OLADAPO OLAYINKA<span class="item-note" style="color:green;font-size:19px;">+10,000.00</span>
							 <p>SELF: 3288273827</p>
							</a>
						  <div class="item item-divider">
							8TH DEC., 2014
						  </div>
							 <a class="item" href="#">
							 205/21933232/60<span class="item-note" style="color:red;font-size:19px;">-10,000.00</span>
							 <p>MBANKING - Own Account Transfer from</p>
							</a>
						</div>
					</div>
				  </ion-slide>
				  <ion-slide>
					<div class="box blue" style="height: 500px;"><h1></h1></div>
				  </ion-slide>
				  <ion-slide>
					<div class="box blue" style="height: 500px;"><h1></h1></div>
				  </ion-slide>
				</ion-slide-box>
			</ion-content>
			
		</ion-view>