<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm nav-title-slide-ios7" style="background: #5E75AF;color:white;">
      <ion-nav-back-button class="button-clear" style="color:white">
        <i class="icon ion-ios-arrow-left"></i> 
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  
   
  <ion-side-menu side="left"  style="background: url('img/tweed.png')" is-enabled=sideMenuBarEnabled>
    <ion-content has-bouncing=true>
    <ul class="list" style="background: url('img/tweed.png')">
      <!--li class="item" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey;height:109px;padding-top: 50px;">
        {{m_accountDetails.firstName + ' ' + m_accountDetails.lastName | uppercase}}
      </li-->
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{accounts_border_left}}; background: {{accounts_background}};" ng-click="launchNewPage('accounts')">
         <i class="icon ion-ios-paper-outline" style="color: #5E75AF;font-size: 24px;"></i>
         Accounts
      </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{transfers_border_left}}; background: {{transfers_background}};" ng-click="launchNewPage('transfers')">
        <i class="icon ion-ios-upload-outline" style="color: #5E75AF;font-size: 28px;"></i>
        Transfers
      </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{bills_payments_border_left}}; background: {{bills_payments_background}};" ng-click="launchNewPage('bills_payments')">
        <i class="icon ion-ios-photos-outline" style="color: #5E75AF;font-size: 24px;"></i>
       Bill Payments
      </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{account_funding_border_left}}; background: {{account_funding_background}};" ng-click="launchNewPage('account_funding')">
        <i class="icon ion-ios-pulse" style="color: #5E75AF;font-size: 24px;"></i>
        Account Funding
      </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{airtime_payment_border_left}}; background: {{airtime_payment_background}};" ng-click="launchNewPage('airtime_payment')">
        <i class="icon ion-iphone" style="color: #5E75AF;font-size: 38px;"></i>
        Airtime Recharge
      </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{services_border_left}}; background: {{services_background}};" ng-click="launchNewPage('services')">
        <i class="icon ion-ios-lightbulb-outline" style="color: #5E75AF;"></i>
          Services
       </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{product_services_border_left}}; background: {{product_services_background}};" ng-click="launchNewPage('product_services')">
        <i class="icon ion-ios-cart-outline" style="color: #5E75AF;font-size: 28px;"></i>
        Product & Services
      </li>
      <li menu-close class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey; border-left: {{service_and_help_border_left}}; background: {{service_and_help_background}};" ng-click="launchNewPage('service_and_help')">
        <i class="icon ion-ios-help-outline" style="color: #5E75AF;font-size: 27px;"></i>
        Service and Help
      </li>
      <li class="item item-icon-left" style="background: url('img/tweed.png') ; color:white; border: 1px solid grey;" ng-click="pushNotification();">
        <i class="icon ion-log-out" style="color: #5E75AF;font-size: 24px;"></i>
        Log Out
      </li>
      </ul>
    </ion-content>
  </ion-side-menu>

  
  <ion-side-menu side="right" is-enabled=false>
  </ion-side-menu>
</ion-side-menus>
