<ion-view title="{{name | uppercase}}">
	<ion-content has-bouncing="true" style="font-family: Tahoma;">
		<div class="list">
			<div class="row" style="margin-top: 60px;">
			<div class="col"></div>
			<div class="col col-90">
				<button ng-click="UrlNavigator('/menu/payment-bill/' + name + '/' + vendor + '/' + itemId + '/' + amount)" class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">Pay Via Account</button>
				<button ng-click="UrlNavigator('/menu/payment-bill')" class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">Pay Via Scratch Card</button>
			</div>
			<div class="col"></div>
		</div>
		</div>
	</ion-content>
</ion-view>