<ion-view title="PAYMENT">
	<ion-content has-header="false" has-bouncing="true">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">SECRET CODE</span>
		    <input type="password" placeholder="Secret Code" ng-model="paymentDetails.SecretCode">
		  </label>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background:#5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;"  data-ng-click="pay()">Pay</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>