<ion-view title="Product & Services">
	<ion-content>
		<div class="list">
		 <div style="text-align:center;margin-top:13px;margin-bottom: 13px;" ng-if="product_services_loader"><ion-spinner class="spinner-energized" icon="android" style="text-align:center;"></ion-spinner></div>
		  <a class="item item-icon-right" data-ng-repeat="ps in product_services" ng-click="UrlNavigator('/menu/product-services/' + {{$index}})">
		   	{{ps.TheTitle}}
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		</div>
	<ion-content>
</ion-view>