<ion-view title="{{product_services_back.TheTitle | uppercase}}">
	<ion-content has-header="false" has-bouncing="true">
		<div style="font-size: 16px; padding-right: 8px;padding-left:8px;text-align:justify;padding-top:10px;line-height: 1.6em;">
			{{product_services_back.TheMessage}}
		</div>
	</ion-content>
</ion-view>