<ion-view title="Registration">
	<ion-content style="font-family: Tahoma">
		<div class="list">
		  <div class="item item-divider" style="padding-top: 40px;">
			REGISTER WITH BANK CARD
		  </div>
			<a ng-href="#/menu/card" class="item item-icon-right" href="#">
				    Register with Bank Card <p style="font-size: 11px;">Please register here</p>
				<i class="icon ion-ios-arrow-thin-right"></i>
			</a>

			<div class="item item-divider" style="height: 30px;">
				VIA ONLINE BANKING DETAILS
		  	</div>
			<a  ng-href="#/menu/internet-banking" class="item item-icon-right">
				  if you already have online registration login details, please register here.
				<i class="icon ion-ios-arrow-thin-right"></i>
			</a>
			<div class="item item-divider" style="height: 10px;">
			REGISTER WITH ACCOUNT NUMBER
		  	</div>
			<a ng-href="#/menu/bank-account" class="item item-icon-right" href="#">
				  Register with your Bank Account Number <p style="font-size: 11px;">Please register here</p>
				<i class="icon ion-ios-arrow-thin-right"></i>
			</a>
			<div class="item item-divider" style="height: 10px;">
			FMC REGISTRATION
		  	</div>
			<a ng-href="#/menu/fmc-registration" class="item item-icon-right" href="#">
				   <p style="font-size: 11px;">Please register here</p>
				<i class="icon ion-ios-arrow-thin-right"></i>
			</a>
		</div>
		<div class="row">
			<div class="col"></div>
				<div class="col col-90"><button class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">Request Assistance</button></div>
				<div class="col"></div>
		</div>
	</ion-content>
</ion-view>