<ion-view title="Services">
	<ion-content>
		<div class="list">
		  <a class="item item-icon-right">
		   BENEFICIARIES
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		  <a class="item item-icon-right">
		   ACCOUNT SUMMARY
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		  <a class="item item-icon-right">
		  CONSOLIDATE STATEMENT
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		  <a class="item item-icon-right">
		  RECEIPTS
		    <i class="icon ion-ios-arrow-thin-right"></i>
		  </a>
		</div>
	<ion-content>
</ion-view>