<ion-view class="metro" hide-nav-bar=true>
		<div class="bar bar-header button-full bar-light" style="height: 40%; background: url('img/jepeg3.jpg'); background-color: ##5E75AF;padding:0px;padding-top:8px; background-size:cover">
			<div class="row" style="margin-top: 0%; border: 0px solid black;height: 19%;">
			  
			  <!--div class="col" style="margin-right: 5px;">
				<div class="button button-outline button-light icon ion-{{camera}}" style="color:white;font-size:29px;border: 2px solid white;height: 70px;width:78px;-webkit-border-radius: 8px;margin-left: 3px;background: url({{imaging}}) no-repeat;background-size:cover;padding-top: 20px; display:none;" ng-click="takePicture()">
				  
				</div>
			  </div-->
			   <!--div class="col"></div-->
			   <div class="col"><img src="img/flashmecash-logo.png" style="float:right;-webkit-border-radius: 0px;width:130px;"/></div>
			</div>
			<div class="row" style="margin-top: 0px;">
				<div class="col col-50" style="visibility:{{visibility}};">
						<div class="list">
					        <label class="item item-input" style="-webkit-border-radius: 4px;background:url('img/xx.png');border: 1px solid #990000;">
					          <input type="tel" placeholder="2348168885521" style="height: 16px; font-size: 13px;color:#990000;" ng-model="loginDetails.PhoneNumber"/>
					        </label>
					        <label class="item item-input" style="-webkit-border-radius: 4px;background:url('img/xx.png');border: 1px solid #990000;">
					          <input type="password" placeholder="PIN" style="height: 16px; font-size: 13px;color:#990000;" ng-model="loginDetails.PIN">
					        </label>
				      </div>
				</div>
				<div class="col col-20"></div>
			  	<div class="col col-30" style="margin-top: 40px;">
			  		<div class="button button-outline button-light icon {{lockType}}" style="border: 1px solid #990000;height: 12px;width:78px;-webkit-border-radius: 4px;float:left;padding:0px;color:white;font-family:Tahoma;font-size: 11px;float:right;color:#990000;background:#FFFFFF;" ng-click="signIn()">
				  		
					</div>
			  	</div>
			</div>
			<div class="row" style="position: absolute; bottom:0; border: 0px ; height: 2px;padding:0px;margin:0px;">
			  <div class="col col-50" style="background:#5E75AF;"></div>
			  <div class="col col-50" style="background:#5E75AF;"></div>
			</div>
		</div>
		<div class="bar bar-footer" style="height: 60%;border:none;padding-top: 7px;margin-top:35%;padding-left:0px;">
		<ion-content has-bouncing=true>
		<div class="grid fluid" style="background: url('im/tweed.png') repeat-x">
			<div class="row" style="height:9.5em;margin-bottom:0px;padding-bottom:0px;font-family:Tahoma;">
				<a class="span2"></a>
				<a href="#/menu/terms" class="adjust span3 ion-ios-bookmarks button button-outline button-dark" style="text-align:center;color:blue; padding-top: 0.65em; font-size: 4.0em;height:100%;color: #FFFFFF; border: 1px solid #00AEEF;background:#00AEEF;"></a>
				<a class="span2"></a>
				<a href="#/menu/forgot" class="span3 ion-ios-unlocked button button-outline button-dark" style="text-align:center;color:#CC0000; padding-top: 0.65em; font-size: 4.0em;height:100%;color: #FFFFFF; border-color:#82806A;background:#82806A;"></a>
				<a class="span2"></a>
			</div>
			<div class="row" style="color:black!;margin-top: 7px;margin-bottom: 15px;font-family:Tahoma">
				<a class="span2"></a>
				<a class="span3" style="color:black!;text-align:center;font-size:1.3em">Register</a>
				<a class="span2"></a>
				<a class="span3" style="color: #82806A;text-align:center;font-size:1.3em">Forgot Login</a>
				<a class="span2"></a>
			</div>
			<div class="row" style="height:9.5em;margin-bottom:0px;padding-bottom:0px;">
				<a class="span2"></a>
				<a href="#/menu/notifications" class="span3 ion-ios-filing button button-outline button-dark" style="text-align:center;color:#FFFFFF;border-color:#FFC222; padding-top: 0.65em; font-size: 4.0em;height:100%;background:#FFC222;"></a>
				<a class="span2"></a>
				<a href="#/menu/branches" class="span3 ion-ios-location button button-outline button-dark" style="text-align:center;color:#FFFFFF; padding-top: 0.65em; font-size: 4.0em;height:100%;border-color:#91BEA6;background:#91BEA6"></a>
				<a class="span2"></a>
			</div>
			<div class="row" style="color:black!;margin-top: 7px;margin-bottom: 15px;font-family:Tahoma;">
				<div class="span2"></div>
				<div class="span3" style="color:#FFC222;text-align:center;font-size:1.3em;font-family:Tahoma;">Notifications</div>
				<div class="span2"></div>
				<div class="span3" style="color:#91BEA6;text-align:center;font-size:1.3em;font-family:Tahoma;">Branches</div>
				<div class="span2"></div>
			</div>
			<div class="row" style="height:9.5em;margin-top:0px;margin-bottom:0px;padding-bottom:0px;">
				<div class="span2"></div>
				<a href="#/menu/contact" class="span3 ion-ios-telephone button button-outline button-dark" style="text-align:center;color:#FFFFFF; padding-top: 0.65em; font-size: 4.0em;height:100%;background:#000000;"></a>
				<div class="span2"></div>
				<a href="#/menu/faqs" class="span3 ion-ios-list button button-outline button-dark" style="text-align:center;color:#FFFFFF;border-color:#FFFFFF; padding-top: 0.65em; font-size: 4.0em;height:100%;background:#CC0000;"></a>
				<div class="span2"></div>
			</div>
			<div class="row" style="color:black!;margin-top: 7px;font-family: Tahoma;">
				<div class="span2"></div>
				<div class="span3" style="color:black!;text-align:center;font-size:1.3em;font-family:Tahoma;">Contact Us</div>
				<div class="span2"></div>
				<div class="span3" style="color:#CC0000;text-align:center;font-size:1.3em;font-family:Tahoma;">FAQ</div>
				<div class="span2"></div>
			</div>
		</div>
		</ion-content>
		<div class="row hide-on-keyboard-open" style="position: absolute; bottom:0; border: 0px ; height: 8px;padding:0px;margin:0px;margin:0;">
			<!--div class="col col-50" style="background:#FFC222;border:#FFC222;"></div>
			<div class="col col-50" style="background:#FFC222;border:#FFC222;"></div-->
		</div>
	</div>
	
</ion-view>