
<ion-view title="Terms & Conditions">
	<ion-content has-bouncing=true>
		<div class="list" style="font-size: 16px;font-family: Tahoma;text-align:justify;line-height:1.5em;padding:7px;">
			<div style="text-align:center;margin:13px;font-weight: bold;"><h4>TERMS AND CONDITIONS FOR THE FCMB MOBILE BANKING APPS</h4></div>
			You should read these Terms and Conditions prior to downloading the First City Monument Bank Apps. By choosing the "I AGREE" button you are:<p>
			<ul>
				<li>(1) Representing that you are over the age of 18 and have the capacity and authority to bind yourself to the terms of this license and</li>
				<li>(2) You will be deemed to have read and accepted these terms and conditions when you first log in to the mobile  banking app, and are consenting to be bound by this license</li>
			</ul><p/>
			<p>if you do not agree to all of the terms and conditions of this license, or do not represent the foregoing, choose the "I DISAGREE" button, in which case you will	
				not and may not recieve, install or use the Application.
			</p>
			
			<p>
				<ul>
					<li>
						1. General Conditions for the First City Monument Banking Apps
							<ul style="margin-left: 10px;">
								<li style="padding-left: 10px;">
									1.1 "FCMB App" is any service we offter that enables you to receive information from us and to transmit instructions to us electronically, in relation to an Account, Credit Account or other matter we specify, using a mobile device capable of accessing the Internet.
								</li>
								<li style="padding-left: 10px;">
									1.2 Each time you use Mobile Banking these Terms and Conditions for the First City Monument Bank Mobile Banking Apps Apply.
								</li>
								<li style="padding-left: 10px;">
									1.3 The FCMB App is an extension of the facilities offered by FCMB Online. It is not a standalone product.
								</li>
							</ul>
					</li><p>
					<li>
						2. Access to Mobile Banking
							<ul style="margin-left: 10px;">
								<li style="padding-left: 10px;">
									2.1 Mobile Banking App is only available to registered users of FCMB Online but when downloaded, users must also register their device through the Mobile Banking Application.
								</li>
								<li style="padding-left: 10px;">
									2.2 You will use your Username for Internet Banking to register and subsequently login and access Mobile Banking.
								</li>
								<li style="padding-left: 10px;">
									2.3 Not all mobile devices are capable of accessing and supporting the Mobile Banking App. It is your responsibility to ensure any mobile device you use to access Mobile Banking is compatible and capable of supporting App Mobile Banking. We will not be responsible for any damage or loss to a Mobile device as a result of your access or use or attempted access or use of the Mobile Banking App.
								</li>
							</ul>
					</li><p>
					<li>
						3. Availability of the Mobile Banking App
							<ul style="margin-left: 10px;">
								<li style="padding-left: 10px;">
									3.1 All conditions of use and charges relating to a mobile device you use to access the Mobile Banking App are your responsibility. We are not liable for any costs you incur to access the Mobile Banking App using a mobile device.
								</li>
								<li style="padding-left: 10px;">
									3.2 You should check with the telecommunication provider for your mobile device whether you will be able to access the Mobile Banking App if you travel outside of Nigeria. We are not liable for any additional costs you may incur to access Mobile Banking outside of Nigeria.
								</li>
							</ul>
					</li><p>
					<li>
						4. No warranty
							<ul style="margin-left: 10px;">
								You expressly acknowledge and agree that use of the application is at your sole risk and the entire risk as to satisfactory quality, performance, accuracy, and effort is with you. To the maximum extent permitted by applicable law, application and any services performed or provided by the application ("services") are provided "as is" and "as available", with all faults and without warranty of any kind, and application  provider hereby disclaims all warranties and conditions with respect to the application and any services, either express, implied or statutory, including, but not limited to, the implied warranties and/or conditions of merchantability, of satisfactory quality, of fitness for a particular purpose, of accuracy, of quiet enjoyment, and non-infringement of third party rights. Application provider does not warrant against interferences with your enjoyment of the application, that the functions contained in, or services perfomed by, the application will meet your requirements, that the operation of the application or services will be uninterrupted or error-free, or that information or advice given by application provider or its authorized representative shall create a warranty. Should  the application or services prove defective, you assume the entire cost of all neccessary servicing, repair or correction. Some jurisdictions do not allow the exclusion of implied warranties or limitations on applicable statutory rights of a consumer, so the above exclusion and limitations may not be apply to you.
							</ul>
					</li><p>
					<li>
						5. User of Mobile Banking
							<ul style="margin-left: 10px;">
								<li style="padding-left: 10px;">
									5.1 Not all functions and features of Internet Banking are available for Mobile Banking. The Features of the Mobile Banking App inlude but are not limited to:
									-  Balance Enquiry<br/>
									-  Account activity Enquiry<br/>
									-  Funds Transfer<br/>
									-  Bills Payment<br/>
									-  Cheque Services<br/>
									-  Card Services<br/>
								</li>
								<li style="padding-left: 10px;">
									The Login ID and Password are required to access the mobile banking service provide by this platform. The Pin is required together with the login ID and password to successfully carry out Bills Payment or Funds Transfer transactions ont this platform. Under no circumstances shall you allow anybody access to your account through the service by divulging your login ID, Password and Pin to a third Part, as you shall be solely liable for such disclosure.
									<p>You understand that your Login ID, Password and Pin are used to give instructions to the Bank and accordingly undertake:</p>
								</li>
								<li style="padding-left: 10px;">
									1. That FCMB Limited is irrecovably authorized to comply with any instructions given to the Bank through this platform andit is agreed that such instructions shall be irrecovably deemed to be your instructions.
								</li>
								<li style="padding-left: 10px;">
									2.	You hereby agree to change your Password immediatley you are made aware that it has become known to someone else.
								</li>
								<li style="padding-left: 10px;">
									3. You hereby agree to change your Password immediately you are made aware that it has become known to someone else.
								</li>
								<li style="padding-left: 10px;">
									4. FCMB Plc is exempted from nay form of liability whatsoever for complying with any or all instruction(s) given by means of the customer's Login ID, Password or Pin and accordingly, the bank shall not be responsible for any fraudulent, duplicate or erroneous instructions given by means of the customer's Login ID, Password and Pin.
								</li>
								<li style="padding-left: 10px;">
									5. FCMB Plc is expressly exempted from any liability arising from unauthorized access to your account and/or data as contained in the bank's records, which arises as a result of your inability and/or otherwise to safeguard your Login ID, Password and Pin and/or failure to log out of the system completely by allowing on screen display of your account information.
								</li>
								<li style="padding-left: 10px;">
									6. FCMB Plc is further relieving of any liability as regards breach of duty of secrecy arising out of your inability to observe and maintain the secrecy of your Login ID, Password and Pin as the usage of your password by any third party shall be interpreted to be with your consent.
								</li>
								<li style="padding-left: 10px;">
									7. FCMB Plc is further relieving of any liability for loss that may arise as a result of transfer of ownership of the device on which this FCMB Mobile Banking apps restsw wither by theft, gift or by any other means.
								</li>
								<li style="padding-left: 10px;">
									8. FCMB Plc is further relieving of any liability for loss that may arise as a result of acts of hackers and other unauthorized access to your account via the service.
								</li>
								<li style="padding-left: 10px;">
									9. FCMB hereby agree to urgently notify First City Monument Bank Plc immediately  upon your suspicion that the confidentially of your Login ID, Password, and Pin are compromised.
								</li>
								<li style="padding-left: 10px;">
									10. You hereby irrecovably accept responsibility and shall bear liability for any fraud, loss and/or liability to the bank or third party arising from usage of your Login ID, Password and Pin on this platform.
								</li>
							</ul>
					</li><p>
				</ul>
			</p>
		</div>
		
		<div class="row">
			<div class="col"></div>
			<div class="col col-90">
				<button ng-click="navigateUrl('agreed')" class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">I Agree</button>
				<button ng-click="navigateUrl('not-agreed')" class="button button-block button-outline button-dark" style="-webkit-border-radius: 5px;!important;float:left;background: #5E75AF;border: 1px solid #5E75AF;color:#FFFFFF;">I Disagree</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-view>